$mdefault: 50px auto
$mreduce: 25px auto
.container
    min-width: 100vw
    min-height: 100vh
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    background-image: url("../assets/img/dragon.jpg")
    text-align: center
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    .row
        min-width: 50%
    .primera
        text-indent: 15%
        i
            margin: 0px 10px
            font-size: 1.2rem
    .buenavibra
        margin: $mdefault
        text-align: center
        i
            margin: 0px 10px
            font-size: 1.5rem
    h1
        display: flex
        align-items: center
        justify-content: center
        margin: $mdefault
        i
            margin: 0px 30px
            font-size: 1.5rem
    p
        font-size: 1.8rem
        margin:0px auto
        max-width: 50%
        text-align: justify
        font-weight: 700
    .enlaces
        margin: $mdefault
        display: flex
        justify-content: space-around
        i
            font-size: 5rem
        a
            &:hover
                i
                    color: yellow

@media ( max-width:1366px )
    .container
        p
            max-width: 80%
            font-size: 1.5rem

@media ( max-width:1024px )
    .container
        background-image: url("../assets/img/dragonsujeto.jpg")
    .enlacerow
        min-width: 100% !important
        .enlaces
            margin: $mreduce
            margin: 50px 0px
        .buenavibra
            margin: $mreduce
        h1
            margin: $mreduce
        p
            max-width: 80%

@media ( max-width:600px )
    .container
        p
            font-size: 1.2rem
        .enlaces
            i
                font-size: 4rem

@media ( max-width:400px )
    .container
        .enlaces
            display: flex
            justify-content: center
            align-items: center
            flex-direction: row
            flex-wrap: wrap
            margin-top: -25px
            a
                min-width: 40%
                padding: 25px



