<div class="container">
  <div class="row mensaje">
    <div class="col">
      <h1><i class="fas fa-tools"></i>Estimad@ visitante<i class="fas fa-tools"></i></h1>
      <p class="primera">Me complace anunciarle que mi portfolio se encuentra en mantenimiento, y su salto al siguiente nivel, donde expongo de forma mas actualizada mis recientes y reforzados conocimientos, estará disponible en breves. Sin embargo no voy a privarle de exponer mi perfil profesional pese a las limitaciones, dejando adjunto mi Currículum<i class="far fa-file"></i>, junto al resto de mis redes.</p>
      <p class="buenavibra">Que tenga un estupendo día <i class="fas fa-heart"></i>.</p>
    </div>
  </div>
  <div class="row enlacerow">
    <div class="col enlaces">
      <a href="https://www.instagram.com/cmfraile"><i class="fab fa-instagram"></i></a>
      <a href="https://es.linkedin.com/in/cmfraile"><i class="fab fa-linkedin-in"></i></a>
      <a href="https://github.com/cmfraile"><i class="fab fa-github"></i></a>
      <a href="https://drive.google.com/file/d/1r_SjzEbkxdyYlea7CYN_FBcX8WBJ7oco/view?usp=sharing"><i class="far fa-file"></i></a>
    </div>
  </div>
</div>