<div class="container">
  <div class="row mensaje">
    <div class="col">
      <h1><i class="fas fa-tools"></i>Estimad@ visitante<i class="fas fa-tools"></i></h1>
      <p class="primera">Me complace anunciarle que mi portfolio se encuentra en mantenimiento para dar el salto al siguiente nivel. Un portfolio 2.0 donde expongo de forma mejorada mis recientes y reforzados conocimientos, así como mis últimos trabajos. Aun queda un poco para que sea publicado y pese a las limitaciones, aqui adjunto mi Currículum<i class="far fa-file"></i> junto a mis redes para los seleccionadores que buscaban conocer mi perfil profesional.</p>
      <p class="buenavibra">Que tengan un estupendo día <i class="fas fa-heart"></i>.</p>
    </div>
  </div>
  <div class="row enlacerow">
    <div class="col enlaces">
      <a href="https://www.instagram.com/cmfraile"><i class="fab fa-instagram"></i></a>
      <a href="https://es.linkedin.com/in/cmfraile"><i class="fab fa-linkedin-in"></i></a>
      <a href="https://github.com/cmfraile"><i class="fab fa-github"></i></a>
      <a href="https://drive.google.com/file/d/1r_SjzEbkxdyYlea7CYN_FBcX8WBJ7oco/view?usp=sharing"><i class="far fa-file"></i></a>
    </div>
  </div>
</div>